@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'FuturaNo2D';
    src: url('/assets/fonts/futura-no2-d-bold.woff2') format('woff2'),
         url('/assets/fonts/futura-no2-d-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barastika';
    src: url('/assets/fonts/Brastika-Black.woff2') format('woff2'),
         url('/assets/fonts/Brastika-Black.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Futura No2 D OT Medium';
    src: url('/assets/fonts/futura-no2-d-ot-medium.woff2') format('woff2'),
         url('/assets/fonts/futura-no2-d-ot-medium.woff') format('woff');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Boston Angel Regular';
    src: url('/assets/fonts/Boston Angel Regular.woff2') format('woff2'),
         url('/assets/fonts/Boston Angel Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boston Angel Bold';
    src: url('/assets/fonts/Boston Angel Bold.woff2') format('woff2'),
         url('/assets/fonts/Boston Angel Bold.woff') format('woff');
    font-weight: Bold;
    font-style: normal;
}


